### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/common/tlgRobot.py
!/conf/config.ini
!/data/loginDev.yaml
!/data/vehicleNo.csv
!/logs/
!/testcase/
!/使用前请阅读此文件.md
!/venv/
