allure-pytest
allure_python_commons==2.16.0
clickhouse_sqlalchemy==0.3.2
jsonpath==0.82.2
numpy==1.26.4
pandas>=2.0.0
paramiko==3.5.1
pymongo==4.7.3
PyMySQL==1.1.1
PyQt5==5.15.11
PyQt5_sip
pytest==9.0.3
python_jenkins==1.8.3
PyYAML
redis==5.0.8
Requests==2.33.1
SQLAlchemy==2.0.49
urllib3==1.26.20
xlrd==2.0.2
xlutils==2.0.0
xlwt==1.3.0
